<app-loading></app-loading>
<div class="page-wraper">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<div class="banner-section ripples-water" style="background-image:url(assets/images/background/bg9.jpg); background-size:cover;">
		<canvas id="canvas3"></canvas>
		<div class="banner-inner bnr-left">
			<h3 class="sub-title">I’ Am <span class="text-gradient">Ella Grady</span></h3>
			<h2 class="title">swimmer</h2>
			<a routerLink="/resume-{{member.profile}}" class="site-button outline button-md outline-half">Check My Cv</a>            
		</div>
		<app-social-bar></app-social-bar>
		<app-copywrite></app-copywrite>
		<app-user-card [data]="member"></app-user-card>
	</div>
</div>