<app-loading></app-loading>
<div class="page-wraper">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<div class="banner-section fullscreen business-bnr" style="background-image:url(assets/images/background/bg13.jpg);">
		<div class="video">
			<div class="wrapper">
				<iframe id="video-iframe" src="https://www.youtube.com/embed/xJIlTbBWxek?modestbranding=0&showinfo=0&controls=0&autoplay=1&playlist=xJIlTbBWxek&loop=1&mute=1&rel=0&allowfullscreen=true&wmode=transparent&iv_load_policy=3&cc_load_policy=0&playsinline=0&html5=1&playerapiid=videoWithJs&enablejsapi=1&start=10&vq=hd1080" frameborder="0"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" allowfullscreen="1" allowfullscreen></iframe>
			</div>
		</div>
		<div class="banner-inner bnr-left">
			<h3 class="sub-title">I’ Am <span class="text-gradient">Thomas Grady</span></h3>
			<h2 class="title">YouTube Video</h2>
			<a routerLink="/resume-{{member.profile}}" class="site-button outline button-md outline-half">Check My Cv</a>        
			<img src="assets/images/background/bg11.png" class="main-content" alt=""/>			
		</div>
		<app-social-bar></app-social-bar>
		<app-copywrite></app-copywrite>
		<app-user-card [data]="member"></app-user-card>
	</div>
</div>