<app-loading></app-loading>
<div class="page-wraper">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<div class="banner-section raincanvas" style="background-image:url(assets/images/background/bg11.jpg); background-size:cover; background-position:center;">
		<div class="rainbox">
			<canvas class="rain-storm" id="canvas1"></canvas>
			<canvas class="rain-storm" id="canvas2"></canvas>
			<canvas class="rain-storm" id="canvas3"></canvas>
		</div>
		<div class="banner-inner bnr-left">
			<h3 class="sub-title">I’ Am <span class="text-gradient">Ella Grady</span></h3>
			<h2 class="title">Dancer trainer</h2>
			<a routerLink="/resume-{{member.profile}}" class="site-button outline button-md outline-half">Check My Cv</a>
		</div>
	</div>
	<app-social-bar></app-social-bar>
	<app-copywrite></app-copywrite>
	<app-user-card [data]="member"></app-user-card>
</div>