<app-loading></app-loading>
<div class="page-wraper" id="electrician-bnr">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<div class="banner-section">
		<div class="banner-inner bnr-right">
			<h3 class="sub-title">I’ Am <span class="text-gradient">Thomas Grady</span></h3>
			<h2 class="title">electrician</h2>
			<a routerLink="/resume-{{member.profile}}" class="site-button outline button-md outline-half">Check My Cv</a>
			<img src="assets/images/background/bg8.png" class="main-content" alt=""/>		
		</div>
		<app-social-bar></app-social-bar>
		<app-copywrite></app-copywrite>
    <app-user-card [data]="member"></app-user-card>
	</div>
</div>