<app-loading></app-loading>
<div class="page-wraper text-dark">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<div class="banner-section blogger-bnr" id="particles-snow" style="background-image:url(assets/images/background/bg8.jpg); background-size:cover;">
		<div class="banner-inner bnr-left">
			<h3 class="sub-title">I’ Am <span class="text-gradient">ella grady </span></h3>
			<h2 class="title">Blogger</h2>
			<!-- <a [routerLink]="['/resume-blogger']" class="site-button outline button-md outline-half">Check My Cv</a> -->
			<!-- <a [routerLink]="'/resume- {member.profile}" class="site-button outline button-md outline-half">Check My Cv</a> -->
			<a routerLink="/resume-{{member.profile}}" class="site-button outline button-md outline-half">Check My Cv</a>
		</div>
		<app-social-bar></app-social-bar>
		<app-copywrite></app-copywrite>
		<app-user-card [data]="member"></app-user-card>
	</div>
</div>