<app-loading></app-loading>
<div class="page-wraper">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<div class="banner-section fullscreen news-bnr" style="background-image:url(assets/images/background/bg10.jpg); background-size:cover;">
		<div class="video">
			<div class="wrapper">
				<iframe id="video-iframe" src="https://player.vimeo.com/video/145645694?autoplay=1&loop=1&autopause=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
			</div>
		</div>
	
		<div class="banner-inner bnr-left">
			<h3 class="sub-title">I’ Am <span class="text-gradient">Thomas Grady</span></h3>
			<h2 class="title">News Anchor</h2>
			<a routerLink="/resume-{{member.profile}}" class="site-button outline button-md white outline-half">Check My Cv</a>
			<img src="assets/images/background/bg5.png" class="main-content" alt="">	
		</div>
		<app-social-bar></app-social-bar>
		<app-copywrite></app-copywrite>
		<app-user-card [data]="member"></app-user-card>
	</div>
</div>