<app-loading></app-loading>
<div class="page-wraper">
	<!-- header -->
    <app-header1 [data]="profile"></app-header1>
    <!-- header END -->
	<div class="banner-section gym-bnr" style="background-image:url(assets/images/background/bg5.jpg); background-size:cover;">
		<ul id="kenburn">
			<li><img src="assets/images/background/bg5.jpg" alt=""/></li>
			<li><img src="assets/images/background/bg6.jpg" alt=""></li>
			<li><img src="assets/images/background/bg7.jpg" alt=""></li>
		</ul>
		<div class="banner-inner bnr-right">
			<h3 class="sub-title">I’ Am <span class="text-gradient">Thomas Grady</span></h3>
			<h2 class="title">Health coach</h2>
			<a routerLink="/resume-{{member.profile}}" class="site-button outline button-md outline-half">Check My Cv</a>
		</div>
		<app-social-bar></app-social-bar>
		<app-copywrite></app-copywrite>
		<app-user-card [data]="member"></app-user-card>
	</div>
</div>
